<div style="width:100%;">

    <canvas id="myChart" #mychart></canvas>

<div style="background-color: rgb(29, 29, 29);">

    <mat-form-field appearance="fill">
        <mat-label>Selecione o ano</mat-label>
        <mat-select [(ngModel)]="selectedYear" name="ano" (ngModelChange)="updates(inputs,selectedYear)">
            <mat-option *ngFor="let ano of anos" [value]="ano.value">
                {{ano.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    
</div>

 </div>