<div class="master">

    <div class="container">
        <div class="title">
            <h1 >
                Saidas
            </h1>
           
        </div>

        <mat-nav-list class="navlist">
            <mat-list-item class="listitem" *ngFor="let input of inputs; index as i;">
            
                    <div class="datdesc">
                        <span>{{input.description}}  </span>
                        <span>Data: {{input.date}}  </span>
                    </div>
                    
                    <div class="datdesc2">
                        <span>Categoria : {{input.category}}  </span>
                        
                    </div>

                    <div class="value">
                        <span>Valor:  R$ {{input.value}} reais  </span>
                    </div>
                    <button mat-button (click)=deleteInput(input.id) ><mat-icon>delete_outline
                    </mat-icon></button>
              
            </mat-list-item>
        </mat-nav-list>


        <button mat-button (click)="openDialog()">Adicionar Movimentação</button>


    </div>
</div>