<div class="master">

    <div class="container">
        
        <mat-nav-list>
            <mat-list-item *ngFor="let input of inputs; index as i;">
                <span>Valor: {{input.value}} reais - </span>
        <span>Data: {{input.date}} - </span>
        <span>Categoria: {{input.category}} - </span>
        <span>Descrição {{input.description}}  </span>
        
        <button (click)=deleteInput(input.id) ><mat-icon>delete</mat-icon></button>
        
        
    </mat-list-item>
</mat-nav-list>


<button mat-button (click)="openDialog()">Open dialog</button>
<button mat-button (click)="updateInputs()">atualizar</button>


</div>
</div>