<div style="width:100%;">
    <canvas id="myChart" #mychart></canvas>
    
    <div style="background-color: #156;border-radius: 5px; display: flex; flex-direction: row;">

        <h1 style="color: white; padding-right: 50px; padding-left: 50px;">Selecione o mês:</h1>
 
        <mat-form-field appearance="fill">
            <mat-label>Selecione o mês</mat-label>
            <mat-select [(ngModel)]="selectedMonth" name="mes" (ngModelChange)="updatesMonth()">
                <mat-option *ngFor="let mes of meses" [value]="mes.value">
                    {{mes.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    
        <mat-form-field appearance="fill">
            <mat-label>Selecione o ano</mat-label>
            <mat-select [(ngModel)]="selectedYear" name="ano" (ngModelChange)="updates(inputs,selectedYear)">
                <mat-option *ngFor="let ano of anos" [value]="ano.value">
                    {{ano.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        
    </div>

 </div>